<h1>Petitions</h1>
<% @petitions.each do |petition| %>
	<div class="well">
		Title: <%= petition.title %><br/>
		Description: <%= petition.description%><br/>
		Signature Count: <%= petition.signatures.count %><br/>
		<% if current_user %>
			<% if petition.user == current_user %>
				<a href="<%= edit_petition_path(petition)%>">
					edit this petition
				</a>
			<% end %>

			<a href="<%= signatures_create_path(petition.id)%>">
				<div class="btn">
					Add your signature!
				</div>
			</a>
		<% end %>
	</div>
<% end %>
